<footer>
  <p>
    Recipes are sourced from various websites. 
    Links to original sources are provided in the footer on specific recipe pages.
  </p>
  <p>Website created by Sophia Franco</p>
</footer>
